*~
*.lock
*.DS_Store
*.o
*.swp
*.out
*.pyc
*.class
_build*
/3DNN/CameraController/nbproject/private/
/HadoopProjection/nbproject/private/
/HadoopProjectionToolbox/nbproject/private/
/HadoopProjectionToolbox/build/
/HadoopProjectionToolbox/dist/
output/
content/MediaFiles/
*.ipynb_checkpoints*
/guide/build_out/
/guide/makefile.sh
makefile.sh
